<header>
  <span class="title" (click)="noteService.stepOne()">
    jjong
  </span>
  <span (click)="noteService.stepTwo()">
    untamed, never-give-up spirit</span>
</header>

<main>
  <video playsinline preload="metadata" controls poster="assets/image/Jjong_icon.jpg" id="memory">
    <source src="https://firebasestorage.googleapis.com/v0/b/jjong-37fd6.appspot.com/o/videos%2FMemory-of-Jjong.mp4?alt=media&token=4b6f056a-8dbc-4fde-abd7-3ade48efe510"
      type="video/mp4">
  </video>

  <p>Click + button below to leave a note..</p>

  <app-notes></app-notes>
</main>