header {
  height: 6.5em;
  padding: 0.5em;
  background: linear-gradient(#444, #777);
  display: flex;
  flex-flow: column;
  align-items: center;
}
header .title {
  font-size: 200%;
  font-weight: bold;
}

main {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0.5em;
}

@media only screen
and (min-width: 568px) {
  main { 
    width: 80%;
  }
}

video#memory {
  width: 100%;
  margin: 1.5em 0;
}
