<div class="list"
  [@listChild]="noteService.listState"
  (@listChild.done)="animDone($event)"
  touchStart>
  <my-note class="item"
    (lazyLoad)="myNote.doLoad($event,i)" [url]="note.imageURL" [index]="i" #myNote
    [note]="note" (toAddOrEdit)="addOrEdit($event)" (toRemove)="remove($event)"
    *ngFor="let note of noteService.items$ | async; let i = index; trackBy: trackByFn"
    [ngClass]="{ 'modified' : note.$type === 'modified' && noteService.listState === 'modified' }"
    [attr.tabindex]="i">
  </my-note>
</div>

<note-modal #modal></note-modal>

<button class="fab" (idleClick)="add($event)" aria-label="Add">+</button>

<scrolltop [fill]="'white'"></scrolltop>