<div *ngIf="noteService.notes$ | async; let notes" [@listChild]="noteService.countNotes" class="list" touchStart>
  <my-note [note]="note" (toAddOrEdit)="addOrEdit($event)" (toRemove)="remove($event)"
    *ngFor="let note of notes; let i = index; trackBy: trackByFn" 
    [@item]="noteService.getState(note)" 
    class="item" 
    [attr.tabindex]="i">
  </my-note>
</div>

<note-modal #modal></note-modal>

<button class="fab" (click)="addOrEdit({ event: $event })" aria-label="Add" matTooltip="Add">+</button>

<scrolltop></scrolltop>