@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  height: 100%;

  font-family: 'Quicksand', sans-serif;
  background-color: #777;
  color: #fff;
}

.noScroll {
  overflow: hidden; /* causes parent to scroll to top on modal popup */
}

